<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>Add a new List 🎬</h1>

      <%= simple_form_for @list do |f| %>
        <%= f.input :name %>

        <%= f.submit class: 'btn btn-primary mt-3' %>
      <% end %>
    </div>
  </div>
  <%= link_to "Return to list", lists_path %>
</div>


